<!-- addProduct.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
  <title>Add Product</title>
</head>
<img src="logo.png" alt="Логотип" class="logo">
<body>
<h1>Add New Product</h1>
<form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post" enctype="multipart/form-data">
  <label>Name: <input type="text" th:field="*{name}" /></label><br/>
  <label>Description: <input type="text" th:field="*{description}" /></label><br/>
  <label>Price: <input type="number" step="0.01" th:field="*{price}" /></label><br/>
  <label>Category:
    <select name="categoryId" required>
      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Category</option>
    </select>
  </label><br/>

  <label>Image: <input type="file" name="imageFile" /></label><br/>
  <button type="submit">Save</button>
</form>

</body>
</html>
