<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
    <img src="logo.png" alt="Логотип" class="logo">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Security Example</title>
</head>
<body>
ADD NEW USER:
<form th:action="@{/registration}" method="post">

    <div><label> User Name : <input type="text" name="username"></label></div>
    <div><label> User Password : <input type="password" name="password"></label></div>
    <div><input type="submit" value="Sign up"></div>
</form>

</body>
</html>